<h1 class="title"><%= @task.title %></h1>
<p class="box">
  <%= @task.content %>
</p>

<p>
  <span><%= link "Edit", to: Routes.task_path(@conn, :edit, @task), class: "button is-warning" %></span>
  <span><%= link "Back", to: Routes.task_path(@conn, :index), class: "button is-link" %></span>
</p>
